{
  "presets": [
    ["env", { "modules": "umd" }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}